# .github/workflows/deploy.yml
name: Deploy to Google Cloud Run
on:
  push:
    paths: 
      - 'Phase 1/**'
      
jobs:
  deploy:
    name: Deploying
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # Build and push image to Google Container Registry
      - name: Setting up
        uses: google-github-actions/setup-gcloud@v0
        with:
          version: '286.0.0'
          service_account_key: ${{ secrets.GCP_SA_KEY_JSON }}
          service_account_email: "github-actions@bcccodingchallenge.iam.gserviceaccount.com"
          project_id: bcccodingchallenge

      - name: Building
        run: |-
          gcloud builds submit --tag eu-central2-docker.pkg.dev/bcccodingchallenge/netcoreapi:test5
      # Setup gcloud CLI
      - name: Deploy
        uses: google-github-actions/deploy-cloudrun@v0
        with:
          service: netcoreapi:test5
          image: gcr.io/bcccodingchallenge/netcoreapi:test5
          region: europe-central2
          credentials: ${{ secrets.GCP_SA_KEY_JSON }}
          project_id: bcccodingchallenge
